@model TaskManager.Models.TaskView

@if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="text-danger">@Model.ErrorMessage</div>
}

@if (!String.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="text-success">@Model.SuccessMessage</div>
}

@if (Model.Task != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        if (Model.Task.ID != 0)
        {
            <div class="mb-3">
                @Html.LabelFor(m => m.Task.ID, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Task.ID, new { @class = "form-control", @readonly = "readonly" })
            </div>
        }
        <div class="mb-3">
            @Html.LabelFor(m => m.Task.Name, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Task.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.Task.Name, "", new { @class="text-danger" })
        </div>
        if (Model.Task.ID != 0)
        {
            <div class="mb-3">
                @Html.LabelFor(m => m.Task.CreateDate, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Task.CreateDate, new { @class = "form-control", @readonly = "readonly" })
            </div>
        }
        <div class="mb-3">
            @Html.LabelFor(m => m.Task.DueDate, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Task.DueDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m=>m.Task.DueDate, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            <button class="btn btn-danger">Save</button>
        </div>
    }
}