@model TaskManager.Models.TaskList
@{
    ViewBag.Title = "List of Tasks";
}

<h2>@ViewBag.Title</h2>
<div>
    <a href="/task/new" class="btn btn-primary">Create Task New</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="200"></th>
            <th>ID</th>
            <th>Name</th>
            <th>Create date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TaskDTO task in Model.ListOfTasks)
        {
            <tr @(task.DueDate < DateTime.Now ? "style=color:orange" : "")>
                <td>
                    <a href="/task/edit/@task.ID" class="btn btn-warning">Edit</a>
                    <a href="/task/delete/@task.ID" class="btn btn-danger">Delete</a>
                </td>
                <td>@task.ID</td>
                <td>@task.Name</td>
                <td>@task.CreateDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>